<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link rel="stylesheet" href="/css/registration.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>

    <div class="container">
      <div><p>작품 등록</p></div>
      <div class="head_container">
        <div class="head_wrap">
          <div class="imgWrap_wrap">
            <div class="imgWrap">
              <img class="imgPreview" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="add image" />
              <span class="imgSpan">이미지 미리보기</span>
            </div>
            <div>
              <input class="writeImg" type="file" name="file" id="file" />
              <input class="inputField" value="첨부파일" placeholder="첨부파일" readonly />
              <label class="inputLabel" for="file">파일 찾기</label>
            </div>
          </div>
          <div class="input_container">
            <div>
              <input id="userId" type="number" placeholder="유저id" />
            </div>
            <div>
              <input id="name" type="text" placeholder="작품명" />
            </div>
            <div>
              <input id="comment" type="text" placeholder="상세내용" />
            </div>
            <div>
              <input id="aiInfo" type="text" placeholder="AI 모델 정보" />
            </div>
          </div>
        </div>
      </div>
      
      <div>
        <div>상세설명</div>
        <div class="comment_container">
          <div>
            <div id="editor"></div>
          </div>
        </div>
      </div>
      
      <div>
        <button class="editValue">에디터 값</button>
      </div>
      <div>
        <button class="inputLabel regisBtn" onclick="createData()">등록</button>
      </div>

    </div>

    <div class="main-wrap">
      <table>
        <thead>
          <tr>
            <th>userid</th>
            <th>이미지</th>
            <th>제목</th>
            <th>상세내용</th>
            <th>AI 모델</th>
            <th>수정</th>
            <th>삭제</th>
          </tr>
        </thead>
        <tbody class="inputData">
          <% for (let i = 0; i < exhibition.length
          ; i++ ) { %>
          <tr id="tr_<%= exhibition[i].id %>">
            <td><%= exhibition[i].userid %></td>
            <td>
              <a href="/exhibition/detail/<%= exhibition[i].id %>"><img class="tdImg" src="<%= exhibition[i].img %>" alt="generative AI Img" /></a>
            </td>
            <td><a href="/exhibition/detail/<%= exhibition[i].id %>"><%= exhibition[i].name %></a></td>
            <td><%= exhibition[i].comment %></td>
            <td><%= exhibition[i].aiInfo %></td>
            <td><button onclick="updatePage('<%= exhibition[i].id %>')">수정</button></td>
            <td><button onclick="deleteExhibition('<%= exhibition[i].id %>')">삭제</button></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    
  </body>
  
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script src="/js/registration.js"></script>
</html>
