<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link rel="stylesheet" href="/css/write.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  
  <body>
    <div class="edit_title">수정하기</div>
    <div class="container">
      <form name="updateData">
        <div style="text-align: center;">
          <img class="imgWrap" src="<%= exhibitionOne[0].img %>" alt="detail img" />
        </div>
        <div>
          <input class="writeImg" type="file" name="file" id="file" />
          <input class="inputField input_w" value="<%= exhibitionOne[0].img %>" type="text" readonly>
          <label class="inputLabel" for="file">파일 선택</label>
        </div>
        <div>
          <span>userid</span>
          <input class="inputField" id="userId" type="text" value="<%= exhibitionOne[0].userid %>" />
        </div>
        <div>
        <div>
          <span>작품명</span>
          <input class="inputField" id="name" name="name" type="text" value="<%= exhibitionOne[0].name %>" />
        </div>
        <div>
          <span>AI 모델</span>
          <input class="inputField" id="aiInfo" name="aiInfo" type="text" value="<%= exhibitionOne[0].aiInfo %>" />
        </div>
        <div style="margin-bottom: 10px;">상세내용</div>
        <div id="editor"><%- exhibitionOne[0].comment %></div>
        <!-- <div>
          <span>상세내용</span>
          <input class="inputField" id="comment" name="comment" type="text" value="<%= exhibitionOne[0].comment %>" />
        </div> -->
        <div class="sub_btn_div">
          <button class="submitBtn" type="button" onclick="updateForm('<%= exhibitionOne[0].id %>')">수정하기</button>
        </div>
      </form>
    </div>


  </body>

  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script src="/js/write.js"></script>
</html>
